#taskBar {
  position: fixed;
  bottom: 0;
}
.taskBarIcon{
  height:2.5rem;
  width:2.5rem;
  padding:0.5rem;
}
.taskBarIcon img {
  height: 2rem;
  width: 2rem;
}
.taskBarIcon:hover {
  opacity: 0.6;
  background-color: rgb(40,40,40);
}
