.taskBar {
  position: fixed;
  bottom: 0;
  background-color: black;
  height: 2em;
}

img {
  height: 2em;
  width: 2em;
  padding: 0.4em;
}

img:hover {
  opacity: 0.6;
  background-color: rgb(40, 40, 40);
}

.taskbar-button {
  cursor: default;
}
