<mat-card class="fileExplorer" [ngClass]="{'maximizedPosition': maximized, 'minimizedPosition':!maximized}" cdkDrag>
  <mat-card-content>
    <div class="windowTitle">
      <span class="leftWindow">File explorer</span>
      <span class="rightWindow">
        <mat-icon [inline]="true" (click)="minimize()" class="acctionButton">minimize</mat-icon>
        <mat-icon [inline]="true" (click)="maximize()" class="acctionButton">fullscreen</mat-icon>
        <mat-icon [inline]="true" (click)="close()" class="acctionButton close">close</mat-icon>
      </span>
    </div>
    <div class="row navigationRow" *ngIf="maximized">
      <div class="navigationButtons">
        <mat-icon [inline]="true" class="navigationButton" (click)="back">arrow_back</mat-icon>
        <mat-icon [inline]="true" class="navigationButton" (click)="forward">arrow_forward</mat-icon>
        <mat-icon [inline]="true" class="navigationButton" (click)="up()">arrow_upward</mat-icon>
      </div>
      <div class="navigationSelect">
        Inicio 
        <mat-icon [inline]="true" class="navigationButton" (click)="back">chevron_right</mat-icon>
      </div>
      <div class="navigationSearch">
        <input type="tel" placeholder="Search..." class="search">
      </div>
    </div>
    <div id="content" class="content">
      <table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let element">
            <div>
              <mat-icon class="material-icons tableIcon" [inline]="true">folder</mat-icon>
              <span class="tableIconText">{{element.name}} </span>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date modified </th>
          <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
        </ng-container>
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>
        <ng-container matColumnDef="size">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
          <td mat-cell *matCellDef="let element"> {{element.size}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRow == row}"
          (click)="highlight(row)" (dblclick)="open(row)">{{row}}
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
