<ul id="taskBar" class="h-menu bg-black w-100 p-0">
  <li>
    <div class="pr-0 pl-1 my-2">
      <span class="taskBarIcon">
        <img src="../../assets/start.png" title="Start" alt="Start" />
      </span>
    </div>
    <ul class="d-menu drop-up bg-gray" data-role="dropdown">
      <li><a href="#">One</a></li>
      <li><a href="#">Two</a></li>
      <li><a href="#">Three</a></li>
    </ul>
  </li>
  <li>
    <div class="pr-0 pl-1 my-2">
      <span class="taskBarIcon" data-role="hint" data-hint-text="GitHub" data-cls-hint="bg-cyan fg-white drop-shadow">
        <img src="../../assets/github.svg" title="GitHub" alt="GitHub" />
      </span>
    </div>
  </li>
  <li>
    <div class="pr-0 pl-1 my-2" onclick="sendTo('https://www.linkedin.com/in/h%C3%A9ctor-l%C3%B3pez-dominguez-8ba85650/')">
      <span class="taskBarIcon" data-role="hint" data-hint-text="Linkedin" data-cls-hint="bg-cyan fg-white drop-shadow">
        <img src="../../assets/linkedin.svg" title="Linkedin" alt="Linkedin" />
      </span>
    </div>
  </li>
  <li>
    <div class="pr-0 pl-1 my-2" onclick="sendTo('https://www.freecodecamp.org/hldominguez')">
      <span class="taskBarIcon" data-role="hint" data-hint-text="Free Code Camp" data-cls-hint="bg-cyan fg-white drop-shadow">
        <img src="../../assets/freecodecamp.png" title="Free Code Camp" alt="Free Code Camp" />
      </span>
    </div>
  </li>
  <li>
    <div class="pr-0 pl-1 my-2" onclick="sendTo('https://www.hackerrank.com/hectorlopez81')">
      <span class="taskBarIcon" data-role="hint" data-hint-text="Hacker Rank" data-cls-hint="bg-cyan fg-white drop-shadow">
        <img src="../../assets/hackerrank.svg" title="Hacker Rank" alt="Hacker Rank" />
      </span>
    </div>
  </li>
</ul>
